body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

.app {
	text-align: center;
	background-color: aquamarine;
	width: 700px;
	display: flex;
	flex-direction: column;
}

.display {
	width: 100%;
	text-align: right;
	background-color: #858693;
	font-size: 2.5rem;
	box-sizing: border-box;
	padding: 1.5rem;
	color: #fff;
	height: 100px;
	font-weight: bold;
}

.groupButtons {
	height: 100px;
	display: flex;
}

.button {
	width: 25%;
	background-color: #858693;
	font-size: 1.5rem;
	box-sizing: border-box;
	height: 100%;
	color: #000;
	border: 0.1rem solid #bababa;
	background-color: #f39148;
}

.gray {
	background-color: #e0e0e0;
}

.fifty {
	width: 50%;
}
